/* TAGS HTML  */
header {
    display: flex;
    justify-content: center;
}

header, .selectPokemons, hr {
    background-color: rgb(199, 140, 68);
    margin: 0;
    padding: 0;
}

select {
    width: 100px;
    height: 40px;
    font-size: 1.2em;
    border-radius: 5px;    
}

/* CLASSES */

.title {
    color: #75372d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.selectPokemons {
    display: flex;
    justify-content: center;
    padding: 10px 0 !important;
}

/* ID */

#selectLabel {
    font-size: 1.2em;
    line-height: 50%;
    margin-right: 5px;
}